body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u437 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:220px;
  width:596px;
  height:374px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:249px;
  width:193px;
  height:24px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  white-space:nowrap;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:249px;
  width:16px;
  height:16px;
  font-size:12px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:344px;
  width:300px;
  height:160px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:39px;
  background:inherit;
  background-color:rgba(251, 234, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:289px;
  width:510px;
  height:39px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:300px;
  width:21px;
  height:16px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:16px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:301px;
  width:420px;
  height:16px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:16px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:536px;
  width:91px;
  height:28px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:536px;
  width:92px;
  height:28px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
