body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:72px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:81px;
  width:41px;
  height:41px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u0_img.mouseOver {
  left:-5px;
  top:-5px;
  width:51px;
  height:51px;
}
#u0.mouseOver {
}
#u0_img.selected {
}
#u0.selected {
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:121px;
  width:41px;
  height:41px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u1_img.mouseOver {
  left:-5px;
  top:-5px;
  width:51px;
  height:51px;
}
#u1.mouseOver {
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:161px;
  width:41px;
  height:41px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#006699;
}
#u2_img.mouseOver {
  left:-5px;
  top:-5px;
  width:51px;
  height:51px;
}
#u2.mouseOver {
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:201px;
  width:41px;
  height:41px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3_img.mouseOver {
  left:-5px;
  top:-5px;
  width:51px;
  height:51px;
}
#u3.mouseOver {
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:241px;
  width:41px;
  height:41px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img.mouseOver {
  left:-5px;
  top:-5px;
  width:51px;
  height:51px;
}
#u4.mouseOver {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:71px;
  top:41px;
  visibility:hidden;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:241px;
  background-image:none;
}
#u5_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-20px 0px 20px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:-20px 0px 20px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:-20px 0px 20px rgba(204, 204, 204, 0.349019607843137);
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:200px;
  height:241px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:75px;
  height:14px;
  font-size:12px;
  color:#363636;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:45px;
  width:182px;
  height:21px;
}
#u9_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:21px;
  background:inherit;
  background-color:rgba(124, 219, 243, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9.mouseOver {
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:73px;
  width:181px;
  height:38px;
}
#u10_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(124, 219, 243, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.mouseOver {
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:117px;
  width:182px;
  height:23px;
}
#u11_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:23px;
  background:inherit;
  background-color:rgba(124, 219, 243, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11.mouseOver {
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:8px;
  width:24px;
  height:21px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u12_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u12.mouseOver {
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u5_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:241px;
  visibility:hidden;
  background-image:none;
}
#u5_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-20px 0px 20px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:-20px 0px 20px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:-20px 0px 20px rgba(204, 204, 204, 0.349019607843137);
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:200px;
  height:241px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:78px;
  height:17px;
  font-family:'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:45px;
  width:182px;
  height:21px;
}
#u16_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:21px;
  background:inherit;
  background-color:rgba(124, 219, 243, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16.mouseOver {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:73px;
  width:181px;
  height:38px;
}
#u17_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(124, 219, 243, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.mouseOver {
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:117px;
  width:182px;
  height:23px;
}
#u18_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:23px;
  background:inherit;
  background-color:rgba(124, 219, 243, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:8px;
  width:24px;
  height:21px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u19_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:41px;
  width:41px;
  height:41px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339933;
}
#u20_img.mouseOver {
  left:-5px;
  top:-5px;
  width:51px;
  height:51px;
}
#u20.mouseOver {
}
#u20_img.selected {
}
#u20.selected {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
